.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #8785A2;
    border: black;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.div_footer{
    text-align: right;
    padding: 10px 25px 10px 25px;
}

.div_main{
    padding-top: 15px;
}

.div_border, .div_border2, nav{
    border: black;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.div_border2{
    margin: 2px 200px 2px 200px;
    background-color: #F6F6F6;
}

.div_border{
    padding: 20px 0px 20px 0px;
}

main {
    background-color: #FFE2E2;
    text-align: center;
}
nav {
    background-color: #FFC7C7;
}

nav h1{
    text-align: center;
}

nav ol{
    text-align: right;
    padding-right: 10px;
    list-style-type: none;
}

li a:hover{
    color: blue;
}


